/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del cuerpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Encabezado */
header {
    background-color: #35424a;
    color: #ffffff;
    padding: 20px 20px;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 10px;
    text-align: center;
}

/* Contenedor del nav y del buscador */
header nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

nav div {
    flex-grow: 3;
}

/* Estilos de la lista de navegación */
nav ul {
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Formulario de búsqueda alineado a la derecha */
#formulario-busqueda {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

#buscador {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9rem;
    width: 100%;
    max-width: 220px;
}

#formulario-busqueda button {
    padding: 8px 12px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
}

#formulario-busqueda button:hover {
    background-color: #0056b3;
}

/* Contenido Principal */
main {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    flex-grow: 1;
}

.flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.flex-container section {
    flex: 1 1 65%;
}

/* Secciones */
section {
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 10px;
    color: #35424a;
}
section ul {
    padding-left: 20px;
}

/* Estilos para el aside */
.flex-container aside {
    flex: 1 1 30%;
    min-width: 125px;
    display: flex;
    height: fit-content;
    justify-content: end;
}

aside img {
    width: 100%;
    border-radius: 5px;
    max-width: 500px;
}

/* Diseño de la cuadrícula para las aficiones */
.aficiones-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Estilo de cada tarjeta de afición */
.aficion-tarjeta {
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s;
}

.aficion-tarjeta:hover {
    transform: scale(1.05);
}

.aficion-imagen {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.aficion-tarjeta h3 {
    margin: 10px 0;
    color: #333;
}

.aficion-tarjeta p {
    padding: 0 10px;
    font-size: 0.9em;
    color: #666;
}

.boton {
    display: inline-block;
    margin: 15px 0;
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.boton:hover {
    background-color: #0056b3;
}

/* Artículos en Proyectos */
article {
    margin-bottom: 15px;
}

article h3 {
    color: #016306;
}

/* Formulario de Contacto */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

section form input[type="text"],
section form input[type="email"],
section form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"],
form input[type="reset"] {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"] {
    background-color: #35424a;
    color: #ffffff;
    margin-right: 10px;
}

form input[type="submit"]:hover {
    background-color: #e8491d;
}

form input[type="reset"] {
    background-color: #ccc;
}

form input[type="reset"]:hover {
    background-color: #999;
}

/* Estilo de cada resultado */
.resultado-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.resultado-item h3 a {
    color: #007BFF;
    text-decoration: none;
    font-size: 1.2em;
}

.resultado-item h3 a:hover {
    text-decoration: underline;
}

.resultado-item p {
    color: #333;
    font-size: 0.9em;
    line-height: 1.5;
}

/* Pie de Página */
footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}
